# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars

# Ignore override files as they are usually used to override resources locally and should not be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore any .terraformrc files containing sensitive information
.terraformrc

# Ignore crash log files
crash.log
